#map {
    height: 800px;
    width: 100%;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.modal{
position: fixed;
z-index: 1;
left: 0;
top:0;
height: 100%;
width:100%;
overflow: auto;
background-color: rgba(0,0,0,0.5);

}


.modal-content{
background-color:whitesmoke;
margin: 20% auto;
padding:20px;
width:70%;
}