#map {
    height: 800px;
    width: 100%;
    margin: 0 0 20px 0;
}

#add {
    padding: 10px;
    border-radius: 10px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}